body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

a:link, a:visited {
  text-decoration: none;
  color: white;
}

.nav {
  display: grid;
  grid-column-gap: 50px;
  grid-auto-flow: column;
  font-size: 22px
}

.nav_right {
  display: grid;
  grid-column-gap: 25px;
  grid-auto-flow: column;
  font-size: 22px;
}

.header {
  background: linear-gradient(351deg, rgba(47,207,199,1) 0%, rgba(36,152,177,1) 35%, rgba(46,120,169,1) 63%, rgba(61,70,156,1) 100%);
  background-repeat: no-repeat;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;

}

.comp_link {
  font-weight: bold;
  font-size: 25px;
}

.nav_login {
  padding-top: 8px;
}

.button {
  background-color: rgba(0,0,0,0);
  color: white;
  border: 2px solid white;
  border-radius: 10%;
  border-style: solid;
  padding: 8px 12px;
  font-size: 22px;

  transition-duration: 0.4s;
}

.button:hover {
  background-color: white;
  color: #40dced;
}

.button_content {
  margin-left: 260px;
  background-color: rgba(0,0,0,0);
  color: #3b5ea8;
  border: 2px solid #3b5ea8;
  border-radius: 3%;
  border-style: solid;
  padding: 16px 24px;
  font-size: 28px;

  transition-duration: 0.4s;
}

.button_content:hover {
  background-color: #3b5ea8;
  color: white;
}


.nav_link {
  transition-duration: 0.4s;
}

.nav_link:hover {
  text-decoration: underline;
}

.content {
  display: grid;
  grid-column-gap: 100px;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

}

.title {
  text-align: left;
  width: 100%;
  max-width: 700px;
  font-size: 48px;
  color: #3b5ea8;
}

.info {
  text-align: left;
  width: 100%;
  max-width: 700px;
  font-size: 26px;
  color: #3b5ea8;
}

#vid {
  margin-top: 100px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(171deg, rgba(47,207,199,1) 0%, rgba(36,152,177,1) 35%, rgba(46,120,169,1) 63%, rgba(61,70,156,1) 100%);
}

#credits {
  font-size: 22px;
  color: white;
  margin-left: 50px;
}

#sign {
  font-size: 22px;
  color: white;
  margin-left: 50px;
}
